<h2 class="blog-post-title mb-1"><%= @article.title %></h2>
<strong class="d-inline-block mb-2 text-primary">
  <%= @article.category.name %>
</strong>
<p class="blog-post-meta">
  <%= month_day_coma_year(@article.created_at) %> por <span class="blog-post-meta"><%= @article.user.email %></span>
</p>
<p><%= @article.body %></p>
<div class="mb-4">
  <%= link_to "Editar", edit_article_path(@article), class: "btn btn-secondary btn-sm" if policy(@article).update? %>
  <%= link_to "Excluir", article_path(@article), class: "btn btn-danger btn-sm", method: :delete, data: { confirm: "Tem certeza?" } if policy(@article).destroy? %>
  <%= link_to "Voltar", root_path, class: "btn btn-link btn-sm" %>
</div>
