<%= simple_form_for(@category) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="form-inputs mb-2">
    <%= f.input :name, label: "Nome" %>
  </div>
  <div class="form-actions">
    <%= f.button :submit, value: "Salvar", class: "btn btn-success mb-4" %>
  </div>
<% end %>
